.container-fluid{
    text-align: center;
}

#title{
    text-align: center;
}

.heading{
    width: 100%;
    font-family: Segoe, sans-serif;
    font-size: 35px;
}

.nav-item{
    font-family: Segoe, sans-serif;
    letter-spacing: 1px;
}

.disclaimer-container{
    width: 100%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color:whitesmoke;
    text-align: justify;
}

.disclaimer-container p {
    font-size: 15px;
}

.nav-item{
    font-family: Segoe, sans-serif;
    letter-spacing: 1px;
}

.open{
    padding: 20px 40px;
    font-weight: bolder;
    border-radius: 50px;
    border: 10px double rgb(95, 95, 95);
    background-color: rgb(231, 231, 231);
}

footer{ 
    margin-top:50px;
    height: 300px;
    padding-top: 20px;
}


#footer_table{
    display:block;
    width: 90%;
    height:90%;
    padding-left: 10%;
}

#footer_table th{
    width: 43%;
    text-align:left;
}

#footer_table td{
    text-align:left;
    height: 35px;
}

footer p{
    margin-bottom:0px;
    width: 100%;
}

#footer_table td a:hover{
    color:black;
}

#register_button, #check_register_button{
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: #006778;
    color:white;
    opacity: 0.75;
    transition: 0.3s
}

#register_button:hover{
    opacity: 1;
}

#check_register_button:hover{
    opacity: 1;
}