.container-fluid{
    text-align: center;
}

#title{
    text-align: center;
}

.heading{
    width: 100%;
    font-family: Segoe, sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.footer { 
    margin-top: 50px;
    height: 50px;
    position: relative;
}

footer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav-item{
    font-family: Segoe, sans-serif;
}

#content{
    font-weight: bold;
}

.disclaimer-container{
    width: 70%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color:whitesmoke;
    text-align: justify;
}

.disclaimer-container p {
    font-size: 15px;
}