.container-fluid{
    text-align: center;
}

#title{
    text-align: center;
}

.heading{
    width: 100%;
    font-family: Segoe, sans-serif;
    font-size: 35px;
}

.footer { 
    margin-top: 50px;
    height: 50px;
    position: relative;
}

footer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav-item{
    font-family: Segoe, sans-serif;
    letter-spacing: 1px;
}

.open{
    padding: 20px 40px;
    font-weight: bolder;
    border-radius: 50px;
    border: 10px double rgb(95, 95, 95);
    background-color: rgb(231, 231, 231);
}