.container-fluid{
    text-align: center;
}

#title{
    text-align: center;
}

.heading{
    width: 100%;
}

footer{ 
    margin-top:50px;
    height: 300px;
    padding-top: 20px;
}


#footer_table{
    display:block;
    width: 90%;
    height:90%;
    padding-left: 10%;
}

#footer_table th{
    width: 43%;
    text-align:left;
}

#footer_table td{
    text-align:left;
    height: 35px;
}

footer p{
    margin-bottom:0px;
    width: 100%;
}

#footer_table td a:hover{
    color:black;
}